@model MVCApplication.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}


<p>'Astronomically, the zodiac defines a belt of space extending 9° either side of the ecliptic, within which the orbits of the Moon and the principal planets remain. It is a feature of a celestial coordinate system centered upon the ecliptic, (the plane of the Earth's orbit and the Sun's apparent path), by which celestial longitude is measured in degrees east of the vernal equinox (the ascending intersection of the ecliptic and equator). Stars within the zodiac are subject to occultations by the moon and other solar system bodies. These events can be useful, for example, to estimate the cross-sectional dimensions of a minor planet, or check a star for a close companion.' <em><a href="https://en.wikipedia.org/wiki/Zodiac">--The Wikipedia</a></em></p>

<p>If you've ever been asked, 'What's your sign?', you know that there are people who place significance on the postition of celestial bodies during your birth month. Thomas Park does not personally believe in or espouse astrology-- he present this site to explore its premise, and to satisfy curiosity. Please don't use this information for guidance-- if you do, that is done at your own risk.</p>

<br />

<div align="center">
    <img src="~/images/Zodiac.jpg" />
</div>

<br /><br />

<h3>That being said-- <em>What's Your Sign?</em></h3>

<form action='Home/Result' method='POST' align="left">
    <div>
        <label>
            Please enter your birth month.
        </label><br>
        <input type="radio" name="Bmonth" value="1">January<br>
        <input type="radio" name="Bmonth" value="2">February<br>
        <input type="radio" name="Bmonth" value="3">March<br>
        <input type="radio" name="Bmonth" value="4">April<br>
        <input type="radio" name="Bmonth" value="5">May<br>
        <input type="radio" name="Bmonth" value="6">June<br>
        <input type="radio" name="Bmonth" value="7">July<br>
        <input type="radio" name="Bmonth" value="8">August<br>
        <input type="radio" name="Bmonth" value="9">September<br>
        <input type="radio" name="Bmonth" value="10">October<br>
        <input type="radio" name="Bmonth" value="11">November<br>
        <input type="radio" name="Bmonth" value="12" checked="checked">December<br>
    </div>
    <br /><br />

    <label>
        Please enter your (numerical) date of birth:
    </label><br>
    <input name="Bday" type="text" value="" />
    <br /><br />
    <input type="submit" value="Find Results" />

</form>
