
@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>What's Your Sign?</h2>

<br />

<h5>Results</h5>

<br />

@if(@Model.Sign != null)

{

    <p>Your Zodiacal sign would be: @Model.Sign</p>


    <p>Which translates in English to: @Model.Englishtrans</p>

    <br />

    <img src = @Model.Imageplace />

         }



<br />

@Model.Error




